#-----------------------------------------------------------------------------
#
# Copyright 2011 Convey Computer Corp
#
#-----------------------------------------------------------------------------
########################################################################
# Simulation Environment Configuration
########################################################################
set DeadMan 100000

########################################################################
# CaeSim Setup Arguments: debug checker_mode
#
#   debug:         0-9     (9 highest level of debug messages)
#
#   checker_mode:  0,2 ->  SW model &&  checker
#                  1   -> !SW model && !checker
#                  3   ->  SW model && !checker
########################################################################
caesim 2 0

########################################################################
# Mc to Cae Response Delays
#
#   DEFAULTS:
#     read           - 70 -> 200 (75%)   700 -> 1000 (25%)
#     write_data     -  0 ->  100
#     write_complete - 50 ->  250
# 
#   NOTE: each invidual driver (Ae:0->3,Mc:0-7) may have its delays
#         set uniquely using something like:
#             config Mc0Cae1Driver read_min_delay 750
#
########################################################################
#config McCaeDriver read_short_percent         75   // Read Short Percent

#config McCaeDriver read_short_min_delay       70   // Read Short Response Delays
#config McCaeDriver read_short_max_delay      200

#config McCaeDriver read_long_min_delay       700   // Read Long Response Delays
#config McCaeDriver read_long_max_delay      1000

#config McCaeDriver write_data_min_delay        0 // Send Write Delays
#config McCaeDriver write_data_max_delay      100

#config McCaeDriver write_complete_min_delay   50 // Write Complete Delays
#config McCaeDriver write_complete_max_delay  250
